# ide
.idea/
.vscode/

# go build
bin/
dist/
*.exe

# env
.env
.env*
!.env.example

# feature
feature-docs/
Dev_Blog/

# go test
coverage.out
coverage*

# database
config/*.db
config/*.db-shm
config/*.db-wal

# frontend
web/ui